h1 {
  text-align: center;
  font-weight: 900;
  font-family: "Verdana", sans-serif;
  text-decoration:dashed;
}

h3 {
  text-align: center;
  font-family: "Times New Roman", serif;
  font-weight: bold ;
}

a {
  color: blueviolet;
  background-color: green;
  font-size: 24px;
  font-family: "Lucida Console", monospace;
}

ul {
  text-align: center;
  list-style-position: inside;
}

ol {
  text-align: center;
  list-style-position: inside;
}

.description {
  background-color: purple;
  color: white;
  font-style: italic;

}.ingredients {
  background-color:aquamarine;
  color: brown;
  text-align: center;
  text-decoration: overline;
}

.steps {
  background-color: yellow;
  color: red;
  text-align: right;
}

#lasagna {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  transform: rotate(52deg);
  border-radius: 8px 
}

#intro {
  font-size: 24px;
  color: cornflowerblue;
  font-weight: 800px;
  text-align: center;
}

#stirfry {
  height: 456;
  width: auto;
  transform: rotate(180);
  border-radius: 64px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
  #stirhead {
   font-style:italic;
  }